.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sharedData {
  width: 60%;
  position: relative;
  display: block;
  background: #fff;
  border-radius: 31px;
  font-family: Ubuntu-Bold;
  font-size: 18px;
  line-height: 1.2;
}
.sharedData:focus {
  outline: none;
}

.appDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: dimgray;
}

.textareaDiv {
  position: relative;
  display: contents;
}

.buttonDiv {
  position: relative;
  margin-top: 10px;
}

.sessionButton {
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 10px;
  font-size: larger;
  border: 4px solid #494949 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
}
.sessionButton:hover {
  color: #ffffff !important;
  background: #f6b93b;
  border-color: #f6b93b !important;
  transition: all 0.4s ease 0s;
}

.createSession {
  display: contents;
}

.labelAboveInput {
  position: relative;
  align-self: start;
  margin-left: 20%;
  font-family: sans-serif;
  color: darkgray;
}

.receiverDiv {
}

.labelForSharedData {
}

.recievedData {
}
